<!DOCTYPE html>
html(lang="en")
	head
		include partials/header
	body.login
		// estilos (login, contenedor-formulario, campo, caja, caja-login, enviar)
		// ID formulario
		.contenedor-formulario
			h1 Inicio de Sesión

			//if error
				//p.alerta.error= error
			//Manejo de errores
			//local.mensajes viene del index.js
			if locals.mensajes
				.alertas
					each categoria in Object.keys(locals.mensajes)
						each error in mensajes[categoria]
							.alerta(class=`${categoria}`)
								p= error

			form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
				.campo
					label(for="email") E-mail:
					input(type="email" name="email" placeholder="E-mail" required value=email)
				.campo
					label(for="password") Password:
					input(type="password" name="password" placeholder="Password" required value=password)
				.campo.enviar
					input.boton(type="submit" value="Iniciar Sesión")
				.campo.acciones
					a(href="/crear-cuenta") ¿Aún no tienes cuenta? crea una gratis
					a(href="/restablecer") ¿Olvidaste tu Password?