<!DOCTYPE html>
html(lang="en")
	head
		include partials/header
	body.login
		// estilos (login, contenedor-formulario, campo, caja-login, enviar)
		//no hace falta colocarle el action al formulario, se redirige a 
		//'/restablecer/:token', authController.actualizarPassword
		.contenedor-formulario
			h1= nombrePagina
			p Introduce tu nuevo password
			form.caja-login(method="POST")
				.campo
					label(for="password") Password:
					input(type="password" name="password" placeholder="Password" required)
				.campo.enviar
					input.boton(type="submit" value="Restablecer Password")