<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scala=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		style
			include ./email.css
	body
		h2 Restablecer Password
		p !Hola!
		p Usted recibió este correo electrónico porque recibimos una solicitud de restablecimiento de contraseña para su cuenta.
		p Haga click en el siguiente enlace para restablecercer su password.
		a(href=`${resetUrl}`) Ir a resetear el Password
		p Este enlace es temporal, así que si se vence vuelve a solicitarlo.
		p Si no puedes acceder a este enlace visite #{resetUrl}
		p Si usted no solicitó un restablecimiento de contraseña, puede ignorar este mensaje.